body {
	color: #222;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.6;
	max-width: 60em;
	margin: 0 auto;
	padding: 2em;
	font-weight: 200;
	/*text-align: center;*/
}

a {
	color: inherit;
	font-weight: 900;
}

h1 {
	font-weight: inherit;
	font-size: 1.2em;
	/*background: #f0f0f0;*/
}

h1 strong {
	font-weight: 900;
}

ul {
	list-style: none;
	padding: 0;
	/*text-align: left;*/
}

.corect:after {
	content: ' ';
	width: 120%;
	height: 0.1em;
	position:absolute;
	background: lightGreen;
	left: -10%;
	bottom: 20%;
	z-index: -1;
}

.gresit:after {
	content: ' ';
	width: 150%;
	height: 0.1em;
	position:absolute;
	background: red;
	transform: translate(-50%, -50%) rotate(-45deg);
	left: 50%;
	top: 50%;
	z-index: -1;
}

.corect, .gresit {
	font-size: 4em;
	display: inline-block;
	margin: 0 0.2em;
	position: relative;
	font-weight: bold;
}

.corect-gresit {
	margin: 3em 0;
}

.corect-gresit em {
	font-style: normal;
	margin-right: 1em;
}

.bucata {
	white-space: nowrap;
}

footer {
	color: #999;
	padding: 2em 0;
}