<!doctype html>
<html lang="{{ page.lang }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ășț pls: {{ strings.tagline }}</title>
	<link rel='stylesheet' href='/style.css' type='text/css'>
</head>
<body>
	<header>
		<a href='/'>
			{% include "components/logo.njk" %}
		</a>
		<h1>{{ strings.tagline }}</h1>
		<ul role=list class='lang-switcher'>
		{% for language in site.languages %}
			<li>
			{% if page.lang == language.code %}
				<span>{{ language.label }}</span>
			{% else %}
				<a href='{{ language.path }}'>{{ language.label }}</a>
			{% endif %}
			</li>
		{% endfor %}
		</ul>
	</header>
	<article>
		{% block content %}
		{% include 'components/chars.njk' %}
		{{  content | safe }}
		{% endblock content %}
	</article>
	<footer>
		{{ strings.footer | safe }}
	</footer>
</body>
</html>